*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
}

.banner{
    position: relative;
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    
    

}

.banner::before{
    content: "";
    background-image: url("banner32.jpg"); 
    position: absolute;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .5;
}

.mission{
  text-align: center;
  line-height: 1.5;
  color: rgb(5, 70, 70);
  padding-top: 10px;
  padding-bottom: 20px;
 
}
/*.content{
    color:rgb(12, 55, 72);
    font-weight: 100;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 70%;
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 6px;
    

    
}*/
h2{
    color: rgb(0,113,115);
    /*text-decoration: underline;
    text-decoration-color: rgb(0,64,65);*/
    font-weight: 1000;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 70%;
    font-size: 100px;
    padding-top: 20px;
    text-align: left;
    letter-spacing: 6px;
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

nav{
   
    display: flex; 
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
   /* background-color: rgba(248,248,255,.6); */
    background-color: rgb(249, 255, 249);
    font-family: 'PT Sans Narrow', sans-serif;

}

img{
    height: 45px;
}

/*.logo{
    color: rgba(48, 48, 71, 0.397);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
}
*/ 


.nav-links{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 50%;
    list-style-type:none ;
    text-align: right;
    
    
}

.nav-links a{
    color: rgb(0,114,118);
    text-decoration: none;
    font-weight: bolder;
    text-align: right;


}

a:hover{
    text-decoration: underline;
}
a {
    color: #333;
    text-decoration: none;
  }
  
.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }
  
  
  
.container.img {
    width: 100%;
  }
  
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: rgb(223, 236, 223);
    margin-bottom: 2rem;
  }
  
.card h3 {
    margin-bottom: 2rem;
  }
  
.card img {
    height: 400px;
  }
  
.card > div {
    padding: 2rem;
  }
  
.card:nth-child(even) img {
    order: 2;
  }
  
  
.btn {
    display: inline-block;
    background: rgb(0,114,118);
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
.btn:hover {
    opacity: 0.8;
  }
  
@media(max-width:600px) {
    .card {
      display: block;
    }
  }
  
footer{
    position: sticky;
    padding: 8px;
    top: 100%;  
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color:rgb(200,221,200) ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.l-footer{
    float: left;
    width: 40%; 
    padding-left: 10px;
}

.r-footer{
    float: right;
    width: 15%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    word-spacing: 5px;
    
}

.r-footer a{
    color: rgb(0,114,118);
    text-decoration: none;
    font-weight: bold;
    
    
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 90px;

}

.row::after{
    content: "";
    display: table;
    clear: both;
    height: 90px;
}

