<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		
		<property name="hibernate.connection.url">
			jdbc:postgresql://database-1.cp3v0h9viwot.us-east-2.rds.amazonaws.com/postgres
		</property>
		
		<property name="hibernate.connection.username">
			stukruze
		</property>
		
		<property name="hibernate.connection.password">
			password
		</property>
		
		<!-- Optional Properties -->
		<property name="show_sql">
			true
		</property>
		
		<property name="hbm2ddl.auto">
			create
		</property>
		
		<!-- Class Mappings 
		<mapping resource="actor.hbm.xml" /> -->
		
	</session-factory>
</hibernate-configuration>